body{
    font-family: 'Roboto Slab', serif;
    margin:0%;
}
h1{
    font-size:65px;
}
h2{
    font-size:40px;
}
.color-tomato{
    color:tomato;
}
.color-green{
    color:green;
}
.color-gray{
    color:grey;
}
.color-blue{
    color:blue;
}
.color-red{
    color:red;
}
.section-part-1{
    display:flex;
    padding-left:5% ;
    padding-right: 2%;
    padding-bottom: 100px;   
}
.section-part-2{
    display:flex;
    background-image: url(assosories/images/shapes/Frame\ 56.jpg);
    padding-top: 40px;
}
.section-part-3{
    padding-top: 80px;
    padding-left: 5%;
}
.section-part-4{
    background-image: url(assosories/images/shapes/Frame\ 57.jpg);
    margin-left: 60px;
    margin-right:60px;
    padding-bottom: 100px;
}
.section-part-5{
    display:flex;
    padding-top:100px ;
}
.section-part-6{
    padding-top: 80px;
    padding-bottom: 100px;
}
.discount{
    width:50%;
    padding-left:5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px cyan;
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice:1 ;
}
.half-width{
    width:50%;
    padding-right:20px;
}
.half-width img{
    width:100%;
}
.link-button{
    background-image:linear-gradient(orange,tomato);
    text-decoration:none ;
    padding:20px;
    padding-left:30px;
    padding-right:30px;
    font-weight: 700;
    color:white;
    border-radius:30px;
}
.outlet{
    background-image:linear-gradient(red,tomato);
    text-decoration:none ;
    padding-left: 50px;
    padding-bottom: 50px;
    padding:20px 50px;
    font-weight: 700;
    color:white;
    border-radius:30px;
}
p{
    text-align:justify;
}
.paragraph{
    padding-bottom:50px;
    width:60%;
}
#paragraph-2{
    padding-right: 250px;
}
.text-align{
    text-align: center;
}


.div-main{
    display:flex;    
    padding-bottom: 100px;
}
.div-3 img{
    width:100%;
    margin:5%;  
}

.div-3{
    padding-right:30px;
    padding-bottom: 30px;
    margin-right: 5%;
    border-radius: 25px; 
    box-shadow: 10px 10px 40px skyblue;
}
.box-paragraph{
    padding-left: 15px;
}

  .div-main-last{
    display:flex;
    text-align:center;
    padding-bottom: 25px;
    padding-left:50px;
    margin-left: 60px;
    margin-right:60px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px skyblue;
  }
.div-left{
    text-align:center; 
    padding-right: 150px;
    padding-left: 200px;
}
.div-center{
    text-align:center; 
}
.div-right{
    text-align:center;
    padding-right:200px ;
    padding-left: 150px;
}
.edit-footer{
    text-align: center;
    padding-bottom:100px;
    padding-top:50px;
    background-color:darkslategray;
}
footer p{
    text-align: center;
}